html {
  font-size: 62.5%;
  background-color: #000;
}
:root {
  --color-primary: #000;
  --color-secodery: #ffffff;
  --color-acsent: #dc7000;
  --color-space: #898989;
  --color-blocks: #e5e5e5;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-secodery);
  font-size: 1.6rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-secodery);
  margin-bottom: 2rem;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
}
