/*Typography */
html {
  font-size: 62.5%;
  background-color: #000;
}
:root {
  --color-primary: #000;
  --color-secodery: #ffffff;
  --color-acsent: #dc7000;
  --color-space: #898989;
  --color-blocks: #e5e5e5;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-secodery);
  font-size: 1.6rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-secodery);
  margin-bottom: 2rem;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
}
/* Links*/
a {
  text-decoration: none;
}
.link-icon {
  color: var(--color-secodery);
  background-color: var(--color-acsent);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 200;
  padding: 1.5rem 2rem;
  align-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
  display: inline-block;
  border-radius: 1rem;
}
.link-icon::after {
  white-space: nowrap;
  margin-left: 5px;
  transition: margin 0.5s;
}
.link-icon:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-icon {
    font-size: 1.2rem;
  }
}

/*Badges*/
.badge {
  border-radius: 10px;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
